/* Animação adicional se necessário */
@keyframes slideTopLeft {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(-100%, -100%) rotate(-3deg);
  }
}

@keyframes slideBottomRight {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(100%, 100%) rotate(3deg);
  }
}

